polkit.addRule(function(action, subject) {
  if (action.id === "org.freedesktop.policykit.exec" &&
      action.lookup("program") === "/usr/libexec/oreon-installer-priv") {

    // live marker
    if (polkit.spawn(["/usr/bin/test", "-e", "/run/oreon-live"]) !== 0)
      return polkit.Result.NO;

    if (subject.local && subject.active) return polkit.Result.YES;
  }
});
