[Desktop Entry]
Type=Application
Name=Install Oreon
Comment=Install Oreon to your hard drive
Icon=system-installer
Exec=/usr/libexec/liveinst-launch
Terminal=false
Categories=System;Settings;
StartupNotify=true
